In [5]:
# import pandas library
import pandas as pd

In [72]:
Bikes = pd.read_csv("london_merged.csv")

In [76]:
Bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [78]:
Bikes.shape

(17414, 10)

In [80]:
Bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [82]:
# count the unique values in the weather_code column
Bikes.weather_code.value_counts()

weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: count, dtype: int64

In [84]:
Bikes.season.value_counts()

season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: count, dtype: int64

In [92]:
# Renaming column names
new_col_dict = {'timestamp' : 'time',
                'cnt': 'count',
                't1' : 'Real_temp_c',
                't2' : 'feels_like_temp_c',
                'hum' : 'Humidity_Percent',
                'wind_speed' : 'Wind_Speed',
                'weather_code' : 'weather',
                'is_holiday' : 'Holiday',
                'is_weekend' : 'Weekend',
                'season' : 'Season'
               }
Bikes.rename(new_col_dict, axis=1, inplace=True)

In [100]:
# Creating Season Dictionary
Season_dict = { '0.0': 'spring',
               '1.0': 'summer',
               '2.0' : 'fall',
               '3.0': 'winter'
              }
Bikes.rename(Season_dict, axis=1, inplace=True)

In [102]:
# Creating Weather Dictionary
Weather_dict = {
    '1.0' : 'Clear',
    '2.0' : 'Scattered clouds',
    '3.0' : 'Broken clouds',
    '4.0' : 'Cloudy',
    '7.0' : 'Rain',
    '10.0' : 'Rain with Thuderstrom',
    '26.0' : 'Snowfall'
}

Bikes.rename(Weather_dict, axis=1, inplace=True)

In [114]:
# Changing the humidity values to percentage
Bikes.Humidity_Percent = Bikes.Humidity_Percent/100

In [116]:
# changing the seasons column data type to string
Bikes.Season = Bikes.Season.astype('str')
# Mapping the values to actual season name
Bikes.Season = Bikes.Season.map(Season_dict)

In [120]:
# Changing the weather column data type to string
Bikes.weather = Bikes.weather.astype('str')
# Mapping weather values to actual written values
Bikes.weather = Bikes.weather.map(Weather_dict)

In [124]:
Bikes

,time,count,Real_temp_c,feels_like_temp_c,Humidity_Percent,Wind_Speed,weather,Holiday,Weekend,Season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,0.810,19.0,Broken clouds,0.0,0.0,winter
17410,2017-01-03 20:00:00,541,5.0,1.0,0.810,21.0,Cloudy,0.0,0.0,winter
17411,2017-01-03 21:00:00,337,5.5,1.5,0.785,24.0,Cloudy,0.0,0.0,winter
17412,2017-01-03 22:00:00,224,5.5,1.5,0.760,23.0,Cloudy,0.0,0.0,winter
17413,2017-01-03 23:00:00,139,5.0,1.0,0.760,22.0,Scattered clouds,0.0,0.0,winter

In [126]:
# Writing the final dataframe to an excel
Bikes.to_excel('London_Bikes_Data.xlsx', sheet_name = 'Data')